# Ignore hidden file tracker in MacOS
*.DS_Store

# Ignore data and metadata
*.csv
*.xlsx

# Ignore Rhistory, RData
*.Rhistory
*.RData

# Ignore raw data and plots output
OAmicrobiome_plots/
resistome/
